<!DOCTYPE html>
<html>
<head>
	<title>微课堂--梦云智出品</title>
    <link rel="stylesheet" type="text/css" href="/microCourse/public/static/bootstrap/css/bootstrap.min.css">
    <!--调用bootstrap的CSS样式 -->
</head>
<body>
  <div class="row">
  <div class="col-md-5">
  	<img src="..." alt="..." class="img-rounded">
  </div>
  <div class="col-md-7">
    <div class="col-md-5"></div>
    <div class="col-md-1"><h1>讲</h1></div>
    <div class="col-md-1"><h1>台</h1></div>
    <div class="col-md-1"></div>
    <div class="col-md-4"><h1>人数:72/100</h1></div>
  	<table class="table table-striped">
        <tr>
            <th></th>
            <th>第一列</th>
            <th>第二列</th>
            <th>第三列</th>
            <th>第四列</th>
            <th>第五列</th>
            <th>走廊</th>
            <th>第六列</th>
            <th>第七列</th>
            <th>第八列</th>
            <th>第九列</th>
            <th>第十列</th>
            <th>第十一列</th>
        </tr>
        <tr>
            <th>第一排</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>第二排</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>第三排</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>第四排</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>第五排</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>第六排</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr>
            <th>第七排</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>    
    </table>
  </div>
</div>
</body>
</html>