{extend name="student"/}
{block name="body"}
<style type="text/css">
    .white{
        color: white;
    }
</style>
    <div class="row">
        <div class="col-md-12">

                <table>
                    <tr>
                        <th>
                            <h4 class="white">选择学期:&nbsp;&nbsp;</h4>
                        </th>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {$isTerm->name}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    {volist name="terms" id="terms"}
                                    <li><a href="{:url('course?id='. $terms->id)}">{$terms->name}</a></li>
                                    {/volist}
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                        <br>
                <table class="table table-bordered">
                    <tr>
                        <th class="white">序号</th>
                        <th class="white">课程名称</th>
                        <th class="white">课程代码</th>
                        <th class="white">学期名</th>
                        <th class="white">任课教师</th>
                        <th class="white">课程类型</th>

                    </tr>
                    
                    {volist key="key" name="courses" id="course" }
                    <tr>
                        <td class="white">{$key}</td>
                        <td class="white">{$course->name}</td>
                        <td class="white">{$course->num}</td>
                        <td class="white">{$course->Term->name}</td>
                        <td class="white">{$course->Teacher->name}</td>
                        <td class="white">{eq name="$course->type" value='0'}选修课{else /}必修课{/eq}</td>

                    </tr>
                    {/volist}

                </table>
                <?php if (count($courses) == 0) { ?>
                <?php }else{ ?>
                {$courses|raw}
                <?php } ?>
        </div>
    </div>
{/block}