{extend name="student"/}
{block name="body"}
    <div class="row">
        <div class="col-md-12">
            
            </table>
            <table class="table table-bordered">
                <tr class="info">
                    <th>标签</th>
                    <th>信息</th>
                </tr>
                <tr>
                    <td>学生姓名</td>
                    <td>{$student->getData('name')}</td>
                </tr>
                <tr>
                    <td>学号</td>
                    <td>{$student->getData('num')}</td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td>{eq name='$student->sex' value='0'}男{else /}女{/eq}</td>
                </tr>
                <tr>
                    <td>班级</td>
                    <td>{$student->klass->name}</td>
                </tr>
            </table>
            <a href="{:url('infoedit?id=' . $student->getData('id'))}" type="button" class="btn btn-default navbar-btn">修改密码</a>
            <hr /> 
        </div>
    </div>
{/block}
   
