{extend name="student"/}
{block name="body"}
    <div class="row">
        <div class="col-md-12">
            
            <div class="jumbotron">
                <h1>微课堂-梦云智出品</h1>
                <p>...</p>
                <p><a href="aboutourteam" class="btn btn-primary btn-lg" role="button">团队概况</a></p>
            </div>

            <h3>学期名:</h3>
            <table>
                <tr>
                    <th>
                        <h4>选择周次:&nbsp&nbsp</h4>
                    </th>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                第一周
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">第一周</a></li>
                                <li><a href="#">第二周</a></li>
                                <li><a href="#">第三周</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">......</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <br><br>
            <table style="word-break:break-all; word-wrap:break-all;" class="table table-bordered">
                <tr class="info">
                    <th rowspan="2">节次&nbsp;\&nbsp;星期</th>
                    <th rowspan="2">星期一</th>
                    <th rowspan="2">星期二</th>
                    <th rowspan="2">星期三</th>
                    <th rowspan="2">星期四</th>
                    <th rowspan="2">星期五</th>
                    <th rowspan="2">星期六</th>
                    <th rowspan="2">星期日</th>
                    <th colspan="2" class="text-center">时间</th>
                </tr>
                <tr class="info">
                    <th>丁字沽</th>
                    <th>北辰</th>
                </tr>
                <tr>
                    <td style="vertical-align:middle;" rowspan="2" class="text-center">第一大节</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第1小节<br>8:20~9:05</td>
                    <td>第1小节<br>8:30~9:15</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第2小节<br>9:10~9:55</td>
                    <td>第2小节<br>9:20~10:05</td>
                </tr>
                </tr>
                <tr>
                    <td style="vertical-align:middle;" rowspan="2" class="text-center">第二大节</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第3小节<br>10:25~11:10</td>
                    <td>第3小节<br>10:25~11:10</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第4小节<br>11:15~12:00</td>
                    <td>第4小节<br>11:15~12:00</td>
                </tr>
                </tr>
                <tr>
                    <td style="vertical-align:middle;" rowspan="2" class="text-center">第三大节</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第5小节<br>14:00~14:45</td>
                    <td>第5小节<br>14:00~14:45</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第6小节<br>14:50~15:35</td>
                    <td>第6小节<br>14:50~15:35</td>
                </tr>
                </tr>
                <tr>
                    <td style="vertical-align:middle;" rowspan="2" class="text-center">第四大节</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第7小节<br>6:05~16:50</td>
                    <td>第7小节<br>15:55~16:40</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第8小节<br>16:55~17:40</td>
                    <td>第8小节<br>16:45~17:30</td>
                </tr>
                </tr>
                <tr>
                    <td style="vertical-align:middle;" rowspan="3" class="text-center">第五大节</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第9小节<br>18:40~19:25</td>
                    <td>第9小节<br>18:40~19:25</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第10小节<br>19:30~20:15</td>
                    <td>第10小节<br>19:30~20:15</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>第11小节<br>20:20~21:05</td>
                    <td>第11小节<br>20:20~21:05</td>
                </tr>
            </table>
            <hr /> 
        </div>
    </div>
{/block}