
{extend name="student"/}
{block name="body"}
    <div class="row">
        <div class="col-md-12">
            
            <!-- <h3>当前时间：{:date('Y-m-d H:i:s')}
            </h3> -->
            <h3>当前时间：{:date('Y-m-d')}
            </h3>
            <table>
                <tr>
                    <th>
                        <h4>选择学期:&nbsp&nbsp</h4>
                    </th>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {$Termname}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                
                                {volist name="terms" id="term" key="key"}
                                <li><a href="{:url('score?id=' . $term->getData('id'))}">{$term->getData('name')}</a></li>
                                {/volist}
                                <li role="separator" class="divider"></li>
                                <li><a href="#">......</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <br><br>
            <table class="table table-bordered">
                <tr class="info">
                    <th>科目</th>
                    <th>任课教师</th>
                    <th>平时成绩</th>
                    <th>期末考试</th>
                    <th>总成绩</th>
                </tr>
                {volist name="scores" id="score" key="key"}
                <tr>
                    <td>{$score->course->name}</td>
                    <td>{$score->course->teacher->name}</td>
                    <td>{$score->getData('score1')}</td>
                    <td>{$score->getData('score2')}</td>
                    <td>{$score->getData('scoresum')}</td>
                </tr>
                {/volist}
            </table>
            {$scores|raw}
            
        </div>
    </div>
    
{/block}
    
