
{extend name="student"/}
{block name="body"}
<style type="text/css">
    .white{
        color: white;
    }
</style>
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <th>
                        <h4 class="white">选择学期:&nbsp&nbsp</h4>
                    </th>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {$Termname}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                
                                {volist name="terms" id="term" key="key"}
                                <li><a href="{:url('score?id=' . $term->getData('id'))}">{$term->getData('name')}</a></li>
                                {/volist}
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <table class="table table-bordered">
                    <th class="white">科目</th>
                    <th class="white">任课教师</th>
                    <th class="white">平时成绩</th>
                    <th class="white">期末考试</th>
                    <th class="white">总成绩</th>
                </tr>
                {volist name="scores" id="score" key="key"}
                <tr>
                    <td class="white">{$score->course->name}</td>
                    <td class="white">{$score->course->teacher->name}</td>
                    <td class="white">{$score->getData('usual_score')}</td>
                    <td class="white">{$score->getData('exam_score')}</td>
                    <td class="white">{$score->getData('total_score')}</td>
                </tr>
                {/volist}
            </table>
            {$scores|raw}
            <h4 class="white">温馨提示：本成绩来自后台数据库，仅供参考，实际情况请查询教务系统</h4>
        </div>
    </div>
    
{/block}
    
