<!DOCTYPE html>
<html>
<head>
    <title>上课时间</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container">
    <div class="page-header">
        <h1 class="text-center">微课堂 <small>梦云智出品</small></h1>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 form-group">
            <label for="name" class="col-sm control-label col-md-4"><h3>课程:</h3></label>
            <button type="button" class="btn btn-default btn-lg" disabled="disabled">&nbsp;&nbsp;{$course->getdata('name')}&nbsp;&nbsp;</button>
        </div>
        <div class="col-md-4 form-group">
            <label for="name" class="col-sm control-label col-md-4"><h3>学期:</h3></label>
            <button type="button" class="btn btn-default btn-lg" disabled="disabled">&nbsp;&nbsp;{$course->Term->getdata('name')}&nbsp;&nbsp;</button>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 form-group">
            <label for="name" class="col-sm control-label col-md-4"><h3>星期:</h3></label>
            <button type="button" class="btn btn-default btn-lg " disabled="disabled">&nbsp;&nbsp;{$weekday}&nbsp;&nbsp;</button>
        </div>
        <div class="col-md-4 form-group">
            <label for="name" class="col-sm control-label col-md-4"><h3>小节:</h3></label>
            <button type="button" class="btn btn-default btn-lg" disabled="disabled">&nbsp;&nbsp;第{$begin}小节&nbsp;&nbsp;</button>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label for="name" class="col-sm control-label"><h3>选择周次:&nbsp;</h3></label>
            <button type="button" class="btn btn-default btn-lg">&nbsp;&nbsp;全选/全不选&nbsp;&nbsp;</button>
        </div>
        <br>
        <div class="col-md-2"></div>
        
    </div>
    <br><br>
    <form action="{:url('courseweeksave')}" method="post">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <input type="hidden" name="id" value="{$course->id}" />
                <input type="hidden" name="weekday" value="{$weekdayorigin}" />
                <input type="hidden" name="begin" value="{$begin}" />
                {volist name="weeks" id="week" $key="key"}
                    <input type="checkbox" name="weeks[]" value={$key+1} {eq name="courseinfo->getIsCheched($course->id,$weekdayorigin,$begin,$key+1)" value="1"} checked="checked"{/eq} />
                    <label for="klass_id_1">{$key+1}</label>
                {/volist}
            </div>
            <br>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h3>选择时长（小节）:&nbsp;</h3>
                <select type="text" name="length">
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
            </div>
            <div class="col-md-4">
                <h3>选择座位:&nbsp;</h3>
                {volist name="classroom" id="classroom" $key="key"}
                    <label class="radio-inline">
                      <input type="radio" name="classroom_id" value="{$key + 1}" {eq name="classroom->getdata('id')" value="$classroom_id"} checked="checked"{/eq}> {$classroom->getdata('classroomplace') . $classroom->getdata('classroomname')}
                    </label>
                {/volist}
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 center-block">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>保存</button>
                <a class="btn btn-danger" href="{:url('courseweekdelete?id=' . $course->getData('id') . '&weekday='. $weekdayorigin . '&begin=' . $begin )}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>删除</a>
            </div>
        </div>
    </form>
    
</body>
</html>