{extend name="teacher"/}
{block name="body"}
    <div class="container">
      <div class="col-md-12">
            
            <hr />
              <div class="alert alert-success" role="alert">激活学期已结束或未开始</div>
              <h3>课程名:</h3>
              <table class="table table-bordered">
                <tr class="info">
                  <th>节次</th>
                  <th>星期一</th>
                  <th>星期二</th>
                  <th>星期三</th>
                  <th>星期四</th>
                  <th>星期五</th>
                  <th>星期六</th>
                  <th>星期日</th>
                </tr>
                <tr>
                  <td>第一大节</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                 <tr>
                  <td>第二大节</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>第三大节</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>第四大节</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr><tr>
                  <td>第五大节</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            </table>
              <br><br>
              <a href="/index/home/teachercourse" type="button" class="btn btn-default navbar-btn">返回</a>
            <hr /> 
        </div>
    </div>
{/block}