{extend name="teacher"/}
{block name="body"}
<style type="text/css">
  .white{
    color: white;
  }
</style>
              <table class="table table-bordered">
                <tr>
                  <th class="white">序号</th>
                  <th class="white">课程名称</th>
                  <th class="white">学期</th>
                  <th class="white">课程编码</th>
<!--                   <th>任课教师</th> -->
                  <th class="white">课程类型</th>
                  <th class="white">班级</th>
                  <!-- <th>详细信息</th> -->
                  <th class="white">录入成绩</th>
                </tr>
                {volist name="courses" id="course" key="key"}
                  <tr>
                    <td class="white">{$key}</td>
                    <td class="white">{$course->getdata('name')}</td>
                    <td class="white">{$course->Term->name}</td>
                    <td class="white">{$course->getdata('num')}</td>
<!--                     <td>{$course->teacher->name}</td> -->
                    
                    <td>{eq name='course->getData("type")' value='0'}选修{else /}必修{/eq}</td>
                    <td>{eq name='course->getData("type")' value='0' } {else /}{$course->getdata('klass')}{/eq}</td>

                    
<!--                     <td><a href="{:url('gradeinfo?id='.$course->getData('id'))}" class="btn btn-primary">&nbsp;详情</a></td>
                     -->
                    <td class="white"><a href="{:url('gradeadd?id='.$course->getData('id'))}" class="btn btn-primary">&nbsp;录入</a></td>
                    
                  </tr>
                {/volist}
            </table>
            {$courses|raw}
              <br><br>
{/block}