{extend name="teacher"/}
{block name="body"}
            <hr />

              <form class="form-horizontal" action="{:url('gradeupdate')}" method="post">
                <table class="table table-bordered">
                  <tr class="info">
                    <th>序号</th>
                    <th>学生姓名</th>
                    <th>学号</th>
                    <th>班级</th>
                    <th>出勤次数</th>
                    <th>回答问题次数</th>
                    <th>平时成绩</th>
                    <th>期末成绩</th>
                    <th>总成绩</th>
                  </tr>
                  <?php $key = 0; ?>
                  {volist name="scores" id="score" $key="key"}
                    <tr>
                      <td>{$key}</td>
                      <input type="hidden" name="id[]" value="{$score->id}">
                      <td>{$score->Student->name}</td>
                      <td>{$score->Student->num}</td>
                      <td>{$score->Student->klass->name}</td>
                      <td>{$score->arrivals}</td>
                      <td>{$score->responds}</td>
                      <td><input type="text" name="score1[]" value="{$score->score1}" /></td>
                      <td><input type="text" name="score2[]" value="{$score->score2}" /></td>
                      <td><input type="text" name="scoresum[]" value="{$score->scoresum}" /></td>
                    </tr>
                  {/volist}<input type="hidden" name="key" value="{$key}">
              </table>
              <button type="submit" class="btn btn-default">保存</button>
            </form>

              <br><br>
            <hr />

    
{/block}