{extend name="teacher"/}
{block name="body"}
    <div class="container">
      <div class="col-md-12">
            
            <hr />
              
              <h3>课程名:{$course->getdata('name')}</h3>
              <h3>课程编码:{$course->getdata('num')}</h3>
              <h3>上课时间:{$courseinfo->getdata('week')." ".$courseinfo->getdata('weekday') }</h3>
              <h3>教室:{$courseinfo->classroom->classroomname}</h3>
              <hr />
              <table class="table table-bordered">
                <tr class="danger">
                  <th>序号</th>
                  <th>学生姓名</th>
                  <th>学号</th>
                  <th>班级</th>
                  <th>签到情况</th>
                </tr>
                {volist name="arrival0" id="arrival0" $key="key"}
                  <tr>
                    <td>{$key}</td>
                    <td>{$arrival0->Student->name}</td>
                    <td>{$arrival0->Student->num}</td>
                    <td>{$arrival0->Student->klass->name}</td>
                    <td>未签到</td>
                  </tr>
                {/volist}
              </table>
              
              <hr />

              <table class="table table-bordered">
                <tr class="info">
                  <th>序号</th>
                  <th>学生姓名</th>
                  <th>学号</th>
                  <th>班级</th>
                  <th>签到情况</th>
                  <th>座位</th>
                  <th>回答问题</th>
                </tr>
                {volist name="arrival1" id="arrival1" $key="key"}
                  <tr>
                    <td>{$key}</td>
                    <td>{$arrival1->Student->name}</td>
                    <td>{$arrival1->Student->num}</td>
                    <td>{$arrival1->Student->klass->name}</td>
                    <td>已签到</td>
                    <td>{$arrival1->row."行".$arrival1->column."列"}</td>
                    <td>{$arrival1->respond."次"}</td>
                  </tr>
                {/volist}
              </table>
              <a href="gradeinfo?id={$course->getdata('id')}" class="btn btn-primary">&nbsp;返回</a>
              <br><br>
            <hr /> 
    </div>
    
{/block}