{extend name="teacher"/}
{block name="body"}
    <div class="container">
      <div class="col-md-12">
            
            <hr />
              {eq name='$time[0]' value='0'}   
              <div class="alert {eq name='ifterm' value='1'}alert-success{else /}alert-warning{/eq}" role="alert">激活学期{eq name="ifterm" value="1"}已开始{else /}已结束{/eq}</div>
              {else}
              <div class="alert alert-success" role="alert">{$time[1]}&nbsp&nbsp第{$time[2]}教学周&nbsp&nbsp{$time[3]}&nbsp&nbsp第{$time[4]}大节</div>
              <h3></h3>
              {/eq}
              
            <hr /> 
            <h3>您的今日课程:</h3>
            <table class="table table-bordered">
                <tr class="info">
                  <th>序号</th>
                  <th>节次</th>
                  <th>教室</th>
                  <th>课程名称</th>
                  <th>课程类型</th>
                  <th>班级</th>
                  <th>进入课堂</th>
                </tr>
                {volist name="courseinfo" id="courseinfo" key="key"}
                  <tr>
                    <td>{$key}</td>
                    <td>{$courseinfo->begin .'~'.($courseinfo->begin+$courseinfo->length-1)}</td>
                    <td>{$courseinfo->classroom->classroomplace." ".$courseinfo->classroom->classroomname}</td>
                    <td>{$courseinfo->Course->name}</td>
                    <td>{eq name='$courseinfo->Course->type' value='0'} 选修 {else /} 必修 {/eq} </td>
                    
                    <td>{eq name='courseinfo->Course->type' value='0' } 123{else /} 456 {/eq}</td>
                    <td><a href="onlinehome?id={$courseinfo->id}" class="btn btn-primary">&nbsp;详情</a></td>
                  </tr>
                {/volist}
            </table>

        </div>
    </div>
{/block}