{extend name="admin"/}
{block name="body"}
    <div class="row">
        <div class="col-md-12">
            <!-- <h3>当前学期:</h3>
            <div class="dropdown">
                <h4>选择周次:</h4>
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    第一周
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">第一周</a></li>
                    <li><a href="#">第二周</a></li>
                    <li><a href="#">第三周</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">......</a></li>
                </ul>
            </div> 
            <br>
            <br>
            
            <hr /> -->
        </div>
    </div>
{/block}