{extend name="admin"/}
{block name="body"}
    <div class="row">
        <div class="col-md-12">
            
            <hr />
            <!--  表前查询 -->
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        <div class="form-group">
                            
                            <input type="name" class="form-control" placeholder="学号...">
                        </div>
                        <button type="submit" class="btn btn-default">&nbsp;查询</button>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <a class="btn btn-primary" href="/index/admin/klass">&nbsp;返回</a>
                </div>
            </div>
            <hr />
            <!-- 教师表格 -->
            <table class="table  table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>性别</th>
                    
                    <th>班级</th>
                    <th>操作</th>
                </tr>
                {volist name="students" id="student" key="key"}
                <tr>
                    <td>{$key}</td>
                    <td>{$student->getData('name')}</td>
                    <td>{$student->getData('num')}</td>
                    <td>{eq name='student->getData("sex")' value='0'}男{else /}女{/eq}</td>
                    
                    <td>{$student->klass->name}</td>
                    <td>
                        <a class="btn btn-primary" href="{:url('studentedit?id=' . $student->getData('id'))}">&nbsp;编辑</a>
                        <a class="btn btn-danger" href="{:url('studentdelete?id=' . $student->getData('id'))}">&nbsp;删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
            {$students|raw}
            <hr /> 
        </div>
    </div>
{/block}