{extend name="admin"/}
{block name="body"}
    <div class="row">
        <div class="col-md-12">
            
            
            <!--  表前查询 -->
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        <div class="form-group">
                            <label  class="sr-only" for="name">条件:</label>
                            <select class="btn btn-default">
                                <option>姓名</option>
                                </option>
                                <option>工号</option>
                            </select>
                            <input type="text" class="form-control" placeholder="输入...">
                        </div>
                        <button type="submit" class="btn btn-default">&nbsp;查询</button>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <a class="btn btn-primary" href="http://127.0.0.1/microcourse/public/index/Admin/teacheradd">&nbsp;增加</a>
                </div>
            </div>
            <hr />
            <!-- 教师表格 -->
            <table class="table  table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>工号</th>
                    <th>性别</th>
                    <th>操作</th>
                </tr>
                {volist name="teachers" id="teacher" key="key"}
                <tr>
                    <td>{$key}</td>
                    <td>{$teacher->getData('name')}</td>
                    <td>{$teacher->getData('num')}</td>
                    <td>{eq name='teacher->getData("sex")' value='0'}男{else /}女{/eq}</td>
                    <td>
                        <a class="btn btn-primary" href="{:url('teacheredit?id=' . $teacher->getData('id'))}">&nbsp;编辑</a>
                        <a class="btn btn-danger" href="{:url('teacherdelete?id=' . $teacher->getData('id'))}">&nbsp;删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
            {$page|raw}
            <hr /> 
        </div>
    </div>
{/block}