{extend name="admin"/}
{block name="body"}
    <div class="row">
        <div class="col-md-12">
            <hr />
            <!--  表前查询 -->
            <div class="alert {eq name='ifterm' value='1'}alert-success{else /}alert-warning{/eq}" role="alert">激活学期{eq name="ifterm" value="1"}已开始{else /}已结束{/eq}</div>
            <h3>当前周次：第{$nowweek}周</h3>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="name">学期名称</label>
                            <input type="text" class="form-control" placeholder="学期名称...">
                        </div>
                        <button type="submit" class="btn btn-default">&nbsp;查询</button>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <a class="btn btn-primary" href="/index/admin/termadd">&nbsp;增加</a>
                </div>
            </div>
            <hr />
            <!-- 学期表格 -->
            <div>
                <table class="table  table-bordered">
                    <tr class="info">
                        <th>序号</th>
                        <th>学期名称</th>
                        <th>起始时间</th>
                        <th>结束时间</th>
                        <th>学期长度</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    {volist name="Term" id="Term" key="key"}
                    <tr>
                        <td>{$key}</td>
                        <td>{$Term->getdata('name')}</td>
                        <td>{$Term->getdata('start')}</td>
                        <td>{$Term->getdata('end')}</td>
                        <td>{$Term->getdata('length')}</td>
                        <td>{eq name='Term->getData("state")' value='0'}已冻结{else /}已激活{/eq}</td>
                        
                        <td>
                            <a class="btn btn-primary" href="termedit?id={$Term->getData('id')}">&nbsp;编辑</a>
                            <a href="termdelete?id={$Term->getData('id')}" class="btn btn-danger">&nbsp;删除</a>
                            <a href="termcheck?id={$Term->getData('id')}" class="btn btn-success">{eq name='Term->getData("state")' value='0'}激活{else /}冻结{/eq}</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
                {$page|raw}
            </div>
        </div>
    </div>
{/block}